<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>

    <!--两栏布局-->
    <div class="right"></div>
    <div class="left"></div>

    <!--两个金典Bug-->
    <!--margin塌陷   bfc -->
    <div class="wrapper">
        <div class="content"></div>
    </div>

    <!--margin合并-->
    <span class="box1">123</span>
    <span class="box2">123</span>
    <div class="demo1">1</div>
    <div class="wrapper1">
        <div class="demo2">2</div>
    </div>

    <div class="wrapper2">

        <div class="content1">1</div>
        <div class="content1">2</div>
        <div class="content1">3</div>
        <!--<p></p>-->

        <!--<div class="content1">4</div>-->
        <!--<div class="content1">5</div>-->
        <!--<div class="content1">6</div>-->

        <!--<div class="content1">7</div>-->
        <!--<div class="content1">8</div>-->
        <!--<div class="content1">9</div>-->
    </div>


    <div class="box3"></div>
    <!--<img src="../images/banner_1.jpg" alt="">-->
    <div class="demo3"></div>

    <span>很帅</span>

    <img class="img1" src="../images/banner_1.jpg">
    2020年，我国将迎来第七次全国人口普查，将彻查人口出生变动情况以及房屋情况。专家认为，这将对房地产税征缴提供必要的数据支撑。

    “本次人口普查不同于以往，除了人口外还要进行房屋普查，这意味着普查结果很可能将会给房地产税的推行提供参考。”苏宁金融研究院高级研究员付一夫对《证券日报》记者表示，人口普查是一项重要的国情调查，其目的在于找准人口规模和结构，摸清流动人口趋势和分布，是国家制定重大方针政策与编制国民经济和社会发展战略规划的重要依据。
</body>
</html>