
*{
    margin: 0;
    padding: 0;
}

.page-container{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1e922f;
}

.img-container{
    width: 100%;
    height: auto;
}

.img_bg{
    width: 100%;
    height: auto;
}
